# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Poetry virtualenvs (if inside project)
.env
.venv
env/
venv/

# Distribution / packaging
.build*
build
dist/
*.egg-info/
*.egg

# Poetry lock file backups
poetry.lock.*

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.test*

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# macOS, Linux, Windows system files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml

# Logs
*.log

# Temporary files
*.tmp
*.swp
*.bak

# Python cache files
__pycache__

# setting or config files
.settings
.config*
